.card_container {
  height: 280px;
  width: 330px;
  border: 1px solid white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  object-fit: contain;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 30px;
}
@media screen and (max-width: 990px) {
  .card_container {
    height: 280px;
    width: 330px;
    margin-left: 180px;
  }
}

@media screen and (max-width: 770px) {
  .card_container {
    height: 300px;
    width: 330px;
    margin-left: 150px;
  }
}

@media screen and (max-width: 670px) {
  .card_container {
    height: 320px;
    width: 330px;
    margin-left: 40px;
  }
  .card_flex {
    font-size: 15px;
    gap: 20px;
  }
  .card_title {
    font-size: 15px;
    font-weight: bolder;
    width: 180px;
  }
  .given_det {
    width: 240px;
  }
}
.card_details {
  padding: 30px;
  color: white;
  margin: 10px;
}
.card_flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 16px;
  font-size: 16px;
  gap: 20px;
}
.card_title {
  font-size: 16px;
  font-weight: bolder;
  width: 150px;
  justify-content: start;
}
.given_det {
  width: 220px;
  justify-content: start;
}
