.card_det {
  display: grid;
  grid-template-columns: auto auto auto auto;

  /* gap: 10px; */
  /* margin: 10px; */
}

@media screen and (max-width: 992px) {
  .card_det {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 768px) {
  .card_det {
    display: grid;
    grid-template-columns: auto;
  }
}

.pages {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.pages_btn {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
}
